__pycache__/
*.py[cod]
*.pyd
*.pyi

build/
dist/
*.spec~

python_env/
backups/
PicSee_Release/

*.log
crash_log.txt

*.exe
*.msi
*.zip
*.rar
*.7z

python-*-embed-*.zip
python-*.exe
get-pip.py

.vscode/
.trae/
