__pycache__/
*.py[cod]
*.pyd
*.pyi

build/
dist/
*.spec~

python_env/
backups/
PicSee_Release/

*.log
crash_log.txt

*.exe
*.msi
*.zip
*.rar
*.7z

PicSee_*.py
!PicSee.py
build.spec
debug_run.bat
download_ps.py
generate_icon.py
readme.cmd
run.bat
simple_viewer.py
test*.py
test_image.png
开发过程
hell -NoProfile -Command*

python-*-embed-*.zip
python-*.exe
get-pip.py

.vscode/
.trae/
